@import "./base.css";

@import "./navbar.css";
@import "./footer.css";

.pricing-container h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.grid-price1{
    /* padding: 2rem; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 2rem auto;
    border-radius: 10px;
    /* height: 500px; */
    /* width: 300px; */
}

.price-card{
    padding:  2rem;
    text-align: center;
    height: 300px;
}

.price-card-text{
    padding: 1rem 1.5rem;
    text-align: center;
    background-color: rgba(230, 43, 30, 0.04);
}

.price-card-text h3{
    font-size: 2.5rem;
    margin-top: 1rem;
}

.price-card-text p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.description{
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 120px;
    font-weight: 500;
}

.description p{
    margin-bottom: 10px;
}

.btn {
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-cta{
    background-color: #E62B1E;
    border: none;
    color: #fff;
    /* text-transform: uppercase; */
}


.form-container{
    padding: 2rem;
}

.form-container h3{
    text-align: center;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.54);
}

.form-column{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
    padding: 0.85rem;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: transparent;
}

.flex-column6{
    text-align: center;
}

.btn-primary {
    padding: 10px 10px;
    /* padding: 18px 18px; */
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #e62b1e;
    color: #e62b1e;
    background-color: transparent;
}

input:hover, select:hover{
    border: 1px solid #E62B1E;
}

@media (min-width: 1024px){
    .grid-price1{
        display: flex;
        flex-direction: row;
        width: 1100px;
        margin: 3rem auto;
        flex: 1 1 100%;
        max-width: 100%;
    }

    .price-card-text{
        flex: 0 0 30%;
        max-width: 30%;
        text-align: left;
    }

    .price-card{
        flex: 0 0 70%;
        max-width: 70%;
        text-align: justify;
        position: relative;
    }

    .price-card-text h3{
        font-size: 13rem;
        font-weight: 700;
    }

    .price-card-text p{
        margin-left: 50px;
    }

    .price-card .btn-cta{
        position: absolute;
        margin-left: 270px;
        margin-top: -50px;
    }
}


